.main {
  height: calc(100vh - 64.4px);
  &-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    &-side {
      @media screen and (min-width: 300px) {
        min-width: 125px;
        width: 20%;
      }
      @media screen and (min-width: 480px) {
        min-width: 200px;
        width: 20%;
      }
      @media screen and (min-width: 600px) {
        min-width: 250px;
        width: 25%;
      }
      @media screen and (min-width: 768px) {
        width: 30%;
        min-width: 300px;
      }
    }
    &-content {

      @media screen and (max-width: 350px) {
        width: 57.5%;
      }
      @media screen and (min-width: 350px) {
        width: calc(100% - 125px);
      }
      @media screen and (min-width: 480px) {
        width: calc(100% - 200px);
      }
      @media screen and (min-width: 600px) {
        width: calc(100% - 250px);
      }
      @media screen and (min-width: 768px) {
        width: calc(100% - 300px);
      }
    }
  }
}