.sidebar {
  // position: absolute;
  // height: 100vh;
  // padding: 75px 1rem 0px 1rem;
  // top: 5px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  border-right: 0.1rem solid #b1b1b1;
  z-index: 4;
  padding: 15px 1rem 0px 1rem;
  margin: 0px;
  overflow-y: scroll;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 300px) {
      h3 {
        font-size: 1rem;
      }
      &-newgroup-button {
        padding: 4px 6px;
      }
    }
    @media screen and (min-width: 480px) {
      h3 {
        font-size: 1rem;
      }
      &-newgroup-button {
        padding: 7px 10px;
      }
    }
    @media screen and (min-width: 600px) {
      h3 {
        font-size: 1rem;
      }
    }

    h3 {
      margin: 0px;
    }
    &-newgroup-button {
      border-radius: 2rem;
      background: #E4E6EB;
      border: none;
      transition: all 0.8s 0s;
      cursor: pointer;
    }
    &-newgroup-button:hover {
      background: #dcdee6;
    }
  }
  &-body {
    
  }
}