.message.reciever {
  display: inline-block;
  margin: 20px auto 20px 20px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 0px 10px;
  word-wrap: break-word;
  width: auto;
  max-width: 60%;
  box-shadow: 0px 2px 5px #8b8b8f;
  p {
    margin: 0;
  }
}
.message.sender {
  display: inline-block;
  margin: 20px 20px 20px auto;
  background: #009AFF;
  color: #fff;
  border-radius: 10px;
  padding: 0px 10px;
  word-wrap: break-word;
  max-width: 60%;
  width: auto;
  p {
    margin: 0;
  }
}