.mainnav {
  z-index: 5;
}
.nav-link {
  position: relative;
  margin: 0px 5px;
  // padding: 7px 10px 6px 11px;
  padding: 7px 10px;
  width: 37.5px;
  text-align: center;
  border-radius: 2rem;
  background: #E4E6EB;
  transition: background 0.8s 0s;
  svg[id=new-user], svg[id=notifications] {
    transition: color 0.8s 0s;
  }
  svg[id=notifications] {
    color: #000000;
  }
  svg[id=new-user] {
    color: #000000;
  }
}
.badge {
  position: absolute;
  bottom: -2px;
  padding: 2.5px 5px;
  border-radius: 50%;
  background: red;
  color: white;
}
.nav-link:hover {
  transition: all 0.8s 0s;
  background: #dcdee6;
}
.dropdown {
  .nav-link{
    svg {
      color: #000000;
    }
  }
  .nav-link:hover {
  }
  a {
    width: 100%;
    .dropdown-item {
      padding-left: 0.8rem;
      span {
        svg {
          width: 0.9rem !important;
        }
      }
    }
  }
  .dropdown-item {
      padding-left: 0.8rem;
      span {
        svg {
          width: 0.9rem !important;
        }
      }
    }
}